body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    background-color: #1f2937;
    display: flex;
    margin:0;
    flex-direction: column; 
    flex-grow: 0;
    gap:100px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap:26px;
    color:#e5e7eb;
}

a {
    text-decoration: none;
}

.header-top {
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    margin-right: 175px;
    margin-top: 16px;
}

#hero-main {
    font-size: 44px;
    color: #F9FAF8;
    font-weight: 1000;
    margin-bottom: 0;
    margin-top: 0;
}

#hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.container-1 {
    display: flex;
    margin-left:200px;
    margin-right: 175px;
    justify-content: space-between;
    margin-bottom: 100px;
    flex:1 1 0;
    gap:45px;
}

.subcontainer-1 {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:16px;
}

.subcontainer-2 img {
    max-width: 600px;

}

.subcontainer-1 button {
    background-color: #3882f6;
    color:white;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border:none;
    font-weight: bold;
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.info-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    max-width: min-content;
    gap:48px;
}

.info-img {
    display: flex;
    flex-direction: column;
    gap:24px;
}

.info-img img {
    max-height: 500px;
    border-radius: 8px;
    border: 4px solid #3882f6;
}

.info-subtext {
    display:flex;
    flex-wrap: wrap;
    font-size: 17px;
}

.info-title {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:175px;
}

.subcontainer-quote {
    display: flex;
    flex-direction: column;
}

.main-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight:100;
    max-width: max-content;
}

.author {
    font-weight: 1000;
    font-size: 24px;
    align-self: flex-end;
}

.advertisement {
    display: flex;
    justify-content: center;
    padding:100px 0px 100px 0px;
}

.ad-content {
    display: flex;
    align-items: center;
    gap:132px;
    background-color: #3882f6;
    padding: 44px 112px 44px 112px;
    border-radius: 8px;
}

.ad-text{
    color: white;
    font-size: 16px;
}

#call-to-action {
    font-weight: 700;
    margin: 0;
    font-size:20px;
}

#click-button {
    margin: 0;
    font-weight: 20;
}

.button-2 button {
    background-color: #3882f6;;
    border-color: rgb(255, 255, 255);
    color: white;
    font-weight: 600;
    padding: 4px 24px 4px 24px;
    border-radius: 8px;
    font-size: 16px;
    border-style: solid;

}

.copyright {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color:#e5e7eb;
    padding: 16px 0 16px 0;
}

.whisper {
    color:red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
    font-style:italic;

}

p {
    margin: 0;
}